.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 7vh;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    z-index: 15;
}

.nav-container ul {
    margin: 0 5rem;
    display: flex;
}

ul a {
    display: flex;
    list-style-type: none;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    align-items: center;
}

ul a:hover {
    color: gold;
    border-bottom: 2px solid white;
}



.nav-logo {
    display: flex;
    margin-left: 2rem;
    padding: 0;
    /* height: 100%; */
    align-items: center;
}