.body-lock {
    overflow: hidden;
}

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 7vh;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    z-index: 15;
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.nav-container a:hover {
    color: gold;
    border-bottom: 2px solid white;
}

.nav-logo {
    display: flex;
    margin-left: 2rem;
    padding: 0;
    align-items: center;
}

.nav-container ul {
    margin: 0 5rem;
    display: flex;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    align-items: center;
}

.list-items {
    margin: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
        font-size: 2rem;
        margin: .5rem;
        cursor: pointer;
        z-index: 30;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0;
        top: 0;
        margin: 0;
        width: 0;
        padding: 0;
        background-color: rgb(12, 12, 12);
        color: white;
        height: 30vh;
        visibility: hidden;
        text-align: center;
    }

    .nav-links.active {
        width: 100%;
        transition: all 0.3s ease-in;
        margin: 0;
        z-index: 15;
        visibility: visible;
    }
}